h2{
	text-align: center;
}
.jumbotron{
	margin-top: 15px;
	padding: 30px;
	padding-top: 20px;
}
.col-md-3{
	margin-bottom: 15px;
}
li{
	list-style: none;
	margin-bottom: 10px;
}
.btn-xs{
	padding-top: 3px;
	margin-right: 15px;
}